
<div class="container">
  <form class="row g-3">
    <div class="col-md-12">
      <label for="obs" class="form-label">Observação</label>
      <textarea class="form-control" id="obs" [(ngModel)]="pedido.obs" name="obs"></textarea>
    </div>
    <div class="col-lg-12 mt-3">
      <div class="row">
        <span class="fs-5 fw-medium mb-2">
          Itens do pedido
        </span>
      </div>

      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Sabor</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lista; let i = index">
            <th scope="row">{{ item.id }}</th>
            <td> {{ item.id }} </td>
            <td>
              <!-- <button type="button" class="btn btn-outline-warning me-4" (click)="editar(modal1, item, i)" data-toggle="tooltip" title="Editar"><i class="bi bi-pencil-fill"></i></button>
            <button type="button" class="btn btn-outline-danger" (click)="editar(modal1, item, i)" data-toggle="tooltip" title="Editar"><i class="bi bi-trash-fill"></i></button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary btn">Salvar</button>
    </div>

  </form>
</div>
