
<div class="container mt-1">
  <form class="row g-3">
    <div class="col-md-12">
      <label for="size" class="form-label">Tamanho</label>
      <select name="size" class="form-select mb-2" id="size" name="size" [(ngModel)]="item.size">
        <option value="P">Pequena</option>
        <option value="M" selected>Média</option>
        <option value="G">Grande</option>
        <option value="GG">Gigante</option>
      </select>
    </div>
    <div class="col-md-12">
      <label for="sabores" class="form-label">Sabores</label>
      <select name="sabores" class="form-select mb-2" multiple aria-label="multiple select example" id="sabores" name="sabores" [(ngModel)]="item.sabores">
        <option selected disabled>Selecione os sabores</option>
        <option *ngFor="let sabor of sabores; let i = index" value="{{ sabor.nome }}">{{ sabor.nome }}</option>
      </select>
    </div>

    <div class="col-2">
      <button type="submit" class="btn btn-primary btn" (click)="salvar()">Salvar</button>
    </div>
  </form>
</div>
