<div class="container mt-4 ">
  <div class="row justify-content-between">

    <div class="col-6">
      <span class="fs-2 fw-medium">Listagem de pedidos!</span>
    </div>
    <div class="col-2 align-self-center">
      <a class="btn btn-outline-primary btn-lg fw-medium" (click)="adicionar(modal1)">Novo</a>

    </div>

    <div class="col-lg-12 mt-3">
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Estado</th>
            <th scope="col">Delivery</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of lista; let i = index">
            <th scope="row">{{ pedido.id }}</th>
            <td>{{ pedido.estado }}</td>
            <td> {{ pedido.delivery ? "Sim" : "Não" }} </td>
            <td>
              <a class="btn btn-outline-info me-4" (click)="editar(modal1, pedido, i)" data-toggle="tooltip" title="Visualizar"><i class="bi bi-eye-fill"></i></a>
              <a class="btn btn-outline-danger" data-toggle="tooltip" title="Deletar"><i class="bi bi-trash-fill"></i></a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<ng-template #modal1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ msg }}</h4>
    <button type="button" class="btn-close" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <app-pedidosdetails [pedido]="objetoSelecionadoParaEdicao"
      (retorno)="addOuEditar($event)"></app-pedidosdetails>

  </div>
</ng-template>
