<form (ngSubmit)="salvar()">
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Nome:</label>
        <input type="text" class="form-control" name="nome" aria-describedby="Nome"
            [(ngModel)]="funcionario.nome">
    </div>
    <div class="mb-3">
      <label for="exampleInputText1" class="form-label">Insira o Email:</label>
      <input type="text" class="form-control" name="email" aria-describedby="Email"
          [(ngModel)]="funcionario.email">
  </div>
  <div class="mb-3">
    <label for="exampleInputText1" class="form-label">Insira o Senha:</label>
    <input type="password" class="form-control" name="senha" aria-describedby="Senha"
        [(ngModel)]="funcionario.senha" >
</div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Salvar</button>

    </div>
  </form>
