<form (ngSubmit)="salvar()">
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label"> Nome:</label>
        <input type="text" class="form-control" name="nome" aria-describedby="emailHelp"
            [(ngModel)]="cliente.nome">
    </div>
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label"> Email:</label>
        <input type="text" class="form-control" name="email" aria-describedby="emailHelp"
            [(ngModel)]="cliente.email">
    </div>
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label"> Senha:</label>
        <input type="password" class="form-control" name="senha" aria-describedby="emailHelp"
            [(ngModel)]="cliente.senha">
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Salvar</button>

    </div>
  </form>
